<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pomodoro | 番茄鐘</title>
    <link rel="stylesheet" href="Content/css/custom.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined">

    <script>
        window.self = {};
    </script>
</head>
<body>
    <header>
        <div class="sidebar">
            <ul class="list-unstyled sidebar-menu">
                <li class="sidebar-item active"><a href="#"><i class="material-icons-outlined">home</i></a></li>
                <li class="sidebar-item"><a href="#"><i class="material-icons-outlined">subject</i></a></li>
                <li class="sidebar-item"><a href="#"><i class="material-icons-outlined">free_breakfast</i></a></li>
            </ul>
            <h1 class="brand">POMODORO</h1>
        </div>
    </header>

    <main id="app">
        <div class="container-fluid" v-cloak>
            <div class="row">
                <div class="col-sm-6 timer">
                    <div class="row timer-header">
                        <div class="col-sm-6 timer-content">
                            <span>{{new Date()|dateConvert}}</span>
                            <span>{{new Date()|nowTime}}</span>
                        </div>
                        <div class="col-sm-6 timer-content text-right">
                            <span>Done / To do</span>
                            <span>5/10</span>
                        </div>
                    </div>
                    <div class="row clock">
                        <div class="col-sm-12">
                            <div class="clock-content" v-bind:style="{color:(displayStatus == 'Break') ? '#19B5FE':''}"> 
                                <div class="clock-header"> - Start {{displayStatus}} -</div>
                                <div class="clock-body">{{timeLeft | timeConvert}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="time-control">
                                <a href="#" class="cancel"><i class="material-icons">highlight_off</i></a>
                                <a v-if="startBtn" href="#" class="play" v-on:click.prevent="startCountDown"><i class="material-icons-outlined">play_circle_outlined</i></a>
                                <a v-else href="#" class="play" v-on:click.prevent="pauseCounting">
                                    <i v-if="isPaused" class="material-icons-outlined">play_circle_outlined</i>
                                    <i v-else class="material-icons">pause_circle_outline</i>
                                </a>
                                <a href="#" class="replay" v-on:click.prevent="reset"><i class="material-icons">replay</i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 list">
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button class="btn btn-add" data-toggle="modal" data-target="#addTask">
                                <i class="material-icons">add_circle_outline </i>
                                <span>Add Task</span>
                            </button>
                        </div>
                    </div>
                    <div class="row todolist">
                        <div class="todolist-header">
                            To do
                        </div>
                        <ol class="list-unstyled todolist-body">
                            <li v-for="(item,index) in notYet" v-bind:style="{color:(doingWork.id == item.id)?'#F4D03F':''}" v>
                                <a v-if="doingWork.id == item.id && startBtn == false" href="#" v-on:click.prevent="pauseCounting">
                                    <i v-if="isPaused" class="material-icons">play_arrow</i>
                                    <i v-else class="material-icons">pause</i>
                                </a>
                                <a v-else href="#" v-on:click.prevent="addDoing(item)">
                                    <i class="material-icons">play_arrow</i>
                                </a>
                                <span>{{index+1}}. {{item.content}}</span>
                                <a href="#" v-on:click.prevent="deleteItem(item.id)" class="clear"><i class="material-icons">clear</i></a>
                            </li>
                        </ol>
                    </div>
                    <div class="row todolist">
                        <div class="todolist-header">
                            Done
                        </div>
                        <ol class="list-unstyled todolist-body">
                            <li class="done" v-for="(item,index) in workCompleted" v-cloak>
                                <a href="#"><i class="material-icons">check</i></a>
                                <span>{{index+1}}. {{item.content}}</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- add task -->
        <div class="modal fade" tabindex="-1" role="dialog" id="addTask"> 
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add new task</h4>
                </div>
                <div class="modal-body">
                    <label for="title">Title</label>
                    <input v-model="newItem" type="text" class="form-control" id="title">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn model-btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn model-btn" v-on:click="addTodo">Send</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </main>

    <script src="Content/scripts/jquery-1.11.0.min.js"></script>
    <script src="Content/scripts/bootstrap.min.js"></script>
    <script src="Content/scripts/moment/min/moment.min.js"></script>
    <script src="Content/scripts/vue/vue.js"></script>
    <script src="Content/scripts/components/mixins/mixinMethod.js"></script>
    <script src="Content/scripts/components/mixins/formatMixin.js"></script>
    <script src="Content/scripts/pomodoroScripts/index.js"></script>
</body>
</html>